/* 전체 초기화 영역 */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;  /* width/height에 padding, border 포함 */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.box-model{
    width: 300px;
    height: 150px;
    background-color: #4caf50;
    /* 박스모델 : content->padding->border->margin */
    padding: 20px; /*안쪽공간*/
    border: 5px solid #333; /*테두리*/
    margin: 20px;     /*바깥쪽 공간*/

    /* 텍스트 설정 */
    color: white;
    text-align: center;    
    line-height: 110px;
    font-weight: bold;
}

/* 선택자 */
h1{
    color: #2196f3;
    margin-bottom: 10px;
}
h2{
    color: #ff9800;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 3px solid #ff9800;
    padding-bottom: 10px;
}
h3{
    color: #e91e63;
    margin-top:20px
}
p{
    line-height: 1.6;
    margin-bottom: 15px;
}
.primary-btn{
    background-color: #4caf50;
    color:white;    
    padding: 10px 20px;  /*shorthand patten  위 아래 좌 우*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.primary-btn:hover{
    background-color: #180310;
}
.secondary-btn{
    background-color: #2196f3;
    color:white;    
    padding: 10px 20px;  /*shorthand patten  위 아래 좌 우*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.secondary-btn:hover{
    background-color: #180310;
}    

